<div class="eagate_login">
    <a id="login_form">
        <label for="Username" class="eagate_login">First name:</label>
        <input type="text" id="eagate_username" name="user@bemani.com" class="eagate_login"><br><br>
        <label for="Password" class="eagate_login">First name:</label>
        <input type="password" id="eagate_password" name="user@bemani.com" class="eagate_login"><br><br>
        <button type="submit"
                class='input_submit'
                style="margin-right: 15px;"
                onClick="eagateLogin()">Login
        </button>
    </a>
</div>