<div class="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="{{ .HomePage}}"><strong>BST</strong></a>
        <div id="navbarSupportedContent">
            <a id="navbar-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav_item active">
                        <a class="nav-link" href="/ddr">DDR</a>
                    </li>
                </ul>
            </a>
            <a class="navbar-right">
                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">{{ .DropdownText}}<span class="caret"></span></button>
                <div class="dropdown-menu">
                    {{ range .Ops}}<a href="{{ .Link}}" class="dropdown-item {{ .Class}}">{{ .Text}}</a>{{end}}
                </div>
            </a>
        </div>
    </nav>
</div>